<article>
    <h2><%= @article.title %></h2>
    <p><%= @article.body %></p>
</article>

<ul>
  <li><%= link_to "Edit", edit_article_path(@article) %></li>
  <li>
    <%= link_to "Destroy", article_path(@article), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>
  </li>
</ul>q

<h2>Comments:</h2>
<%# As the render method iterates over the @article.comments collection %>
<%# <% @article.comments.each do |comment| ... %>
<ul>
  <%= render @article.comments %>
</ul>


<h2>Add a comment</h2>
<%= render 'comments/form' %>